* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #1e201e;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  padding: 10px;
}

.logo-header img {
  width: 50px;
  height: 47px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

/*.hero {
  background-color: #ddd;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
*/

.hero img {
  width: 100%;
  height: 100%;
}

.hero-content-mob img {
  display: none;
}

.cards h2 {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

.cards,
.circles,
.large-card {
  text-align: left;
  margin: 50px 0;
}

.card-header h2 {
  margin-bottom: 100px;
}

.slider-container {
  position: relative;
  width: 1300px;
  left: 110px;
}

.slider-wrapper {
  overflow-x: hidden;
  padding: 20px;
}

.slider {
  width: max-content;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 400px;
  background: #1c1c1c;
  border-radius: 15px;
  padding: 20px;
  color: white;
  text-align: center;
}

.card-image img {
  width: 100%;
  height: 220px;
  border-radius: 10px;
}

h2 {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

small {
  color: #aaa;
  font-size: 10px;
}

.card p {
  flex-grow: 1;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  margin-top: 10px;
  white-space: normal;
  word-wrap: break-word;
}

.button-container button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin-top: 40px;
}

.button-container button a {
  text-decoration: none;
  color: #1c1c1c;
  background-color: white;
}

.buttons {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
}

.buttons button {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s;
  pointer-events: auto;
}

.buttons button:hover {
  background: black;
  color: white;
}

.left {
  position: absolute;
  left: -80px;
  bottom: 200px;
}

.right {
  position: absolute;
  right: -90px;
  bottom: 200px;
}

.swipe-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  animation: bounce 2s infinite alternate;
  padding-bottom: 150px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.circles {
  background-color: white;
  padding: 0;
}

.circle-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 100px;
}

.circle a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1e201e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.circle a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

button.circle {
  border: none;
  outline: none;
  background: none;
}

.large-card-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 20px;
}

.large-card h2 {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

.text {
  width: 300px;
  text-align: left;
}

.large-card-content img {
  width: 20%;
  height: 30%;
}

footer {
  background-color: #1e201e;
  color: white;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

.logo-footer-small img {
  display: none;
}

.logo-footer {
  text-align: center;
  padding-left: 170px;
  padding-top: 25px;
}

.logo-footer img {
  width: 402px;
  height: 67px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.info {
  text-align: left;
  padding-right: 170px;
  padding-top: 25px;
}

/* Response for mobile */

@media only screen and (max-width: 430px) {
  .slider-container {
    width: 385px;
    left: 30px;
  }

  .slider-wrapper {
    padding: 0;
  }

  .card-header h2 {
    margin-bottom: 70px;
  }

  .left {
    left: -40px;
    bottom: 200px;
    width: 45px;
  }

  .right {
    left: 375px;
    bottom: 200px;
    width: 45px;
  }

  .card {
    width: 380px;
  }

  .buttons button {
    background: none;
    color: black;
  }

  .buttons button:hover {
    background: none;
    color: black;
  }

  .card-container {
    padding: 0px;
  }

  .hero img {
    display: none;
  }

  .hero-content-mob img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .logo-header img {
    width: 40px;
    height: 37px;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }

  .circle {
    width: 85px;
    height: 40px;
    font-size: 22px;
  }

  .circle a {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1e201e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
  }

  .large-card h2 {
    font-size: 18px;
  }

  .large-card-content {
    flex-direction: column;
  }

  .large-card-content img {
    width: 35%;
    height: 40%;
  }

  .text {
    width: 300px;
    text-align: left;
    font-size: 14px;
  }

  footer {
    grid-template-columns: 1fr;
  }

  .logo-footer {
    display: none;
  }

  .logo-footer-small img {
    display: block;
    margin-bottom: 10px;
  }

  .footer-content {
    flex-direction: column;
    align-items: left;
    padding: 30px 0;
    padding-left: 50px;
  }

  .info {
    padding-right: 0;
    padding-left: 0px;
    text-align: left;
    padding-top: 15px;
    font-size: 13px;
  }
}
